/*Rotating circles*/
.circles{
  width: 666px;
  height: 666px;
  /*original w and h was 366*/
  margin: auto;
  position: relative;
}

.circle{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: circle 2s linear infinite;
  will-change: transform;
}
.circle:nth-child(1){animation-duration: 30s;}
.circle:nth-child(2){animation-duration: 40s;}
.circle:nth-child(3){animation-duration: 50s;}
.circle:nth-child(4){animation-duration: 60s;}
.circle:nth-child(5){animation-duration: 70s;}
.circle:nth-child(6){animation-duration: 80s;}
.circle:nth-child(7){animation-duration: 90s;}
.circle:nth-child(8){animation-duration: 100s;}
.circle:nth-child(9){animation-duration: 110s;}
.circle:nth-child(10){animation-duration: 120s;}
@keyframes circle{
  100%{
    transform: rotate(1turn)
  }
}

body {
 background-color: #000000; 
}

p {
  color: #FFFFFF;
  font-size: large;
}

.center-text {
  position: absolute;
  left: 47%;
  top: 42%;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  font-size: 40px;
}

.panel {
  margin: auto;
  width: 50%;
  margin-top: 100px;
  padding: 10px;
  border-style: solid;
  border-radius: 25px;
  background-color: #121212; 
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}