/*Rotating circles*/
.circles{
  width: 666px;
  height: 666px;
  /*original w and h was 366*/
  margin: auto;
  position: relative;
  border: 1px solid #FFFFFF;
}

.circle{
  position: absolute;
  left: 0;
  top: 0;
  width: 666px;
  height: 666px;
  animation: circle 10s linear infinite;
  will-change: transform;
  border: 1px solid #FFFFFF;
}
.circle:nth-child(1){animation-duration:30s}
.circle:nth-child(2){animation-duration:40s}
.circle:nth-child(3){animation-duration:50s}
.circle:nth-child(4){animation-duration:60s}
.circle:nth-child(5){animation-duration:70s}
.circle:nth-child(6){animation-duration:80s}
.circle:nth-child(7){animation-duration:90s}
.circle:nth-child(8){animation-duration:100s}
.circle:nth-child(9){animation-duration:110s}
.circle:nth-child(10){animation-duration:120s}
@keyframes circle{
  100%{
    transform: rotate(1turn)
  }
}

body {
 background-color: #000000; 
}

p {
  color: #FFFFFF;
}

.center {
  margin: auto;
  padding: 30px;
  text-align: center;
}

.panel {
  margin: auto;
  width: 50%;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  background-color: #121212; 
}