 .center {
  margin: auto;
  width: 50%;
  padding: 10px;
  border-width: 1px;
}

.circles{
  width: 366px;
  height: 366px;
  margin: auto;
  position: relative
}

.circle{
  position: absolute;
  left: 0;
  top: 0;
  animation: circle 10s linear infinite;
  will-change: transform
}
.circle:nth-child(1){animation-duration:30s}
.circle:nth-child(2){animation-duration:40s}
.circle:nth-child(3){animation-duration:50s}
.circle:nth-child(4){animation-duration:60s}
.circle:nth-child(5){animation-duration:70s}
.circle:nth-child(6){animation-duration:80s}
.circle:nth-child(7){animation-duration:90s}
.circle:nth-child(8){animation-duration:100s}
.circle:nth-child(9){animation-duration:110s}
.circle:nth-child(10){animation-duration:120s}
@keyframes circle{
  100%{
    transform: rotate(1turn)
  }
}

body {
 background-color: #121212; 
}

p {
  color: #FFFFFF;
}